/*.div.hot{
	background-image: url(https://media.istockphoto.com/photos/zombies-hand-silhouette-picture-id849048646?k=20&m=849048646&s=612x612&w=0&h=Nm6mUt-j-Blsu57blehtugaT8g6WemLOWCreFhHU1ng=);
	color: white;
	background-size: cover;
	position: absolute;
}
.div.moderate{
	background-image: url(https://media.cntraveler.com/photos/585ac0b912de81c9681fb578/master/pass/Maldives-Getty98962588.jpg);
	color: white;
	background-size: cover;
	position: absolute;
}
.div.sunny{
	background-image: url(https://wallpaperaccess.com/full/3265126.jpg);
	color: white;
	background-size: cover;
	position: absolute;
}
.div.freezing{
	background-image: url(https://media.istockphoto.com/photos/winter-forest-blizzard-picture-id137010458?b=1&k=20&m=137010458&s=170667a&w=0&h=e2hELwiVUUlFZPb0UBGS6NF7GFrF0wvB4n3Tdpcmp6c=);
	color: black;
	background-size: cover;
	position: absolute;
}*/
#login{
	padding-top: 20px;
	align-items: center;
	width: 600px;
	margin: 0 auto;
	height: 200px;
	text-align: center;
	margin-top: 250px;
	background-image: url(van.jpg); ;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	font-family: Garamond, 'Times New Roman';
	font-size: 20px;
	font-weight: bold;
	background-position: fixed;
}
#loginbutton{
	margin-top: 30px;
	border-radius: 25px;
	height: 30px;
	width: 120px;
	font-size: 18px
}
#registrationpage{
	padding-top: 20px;
	align-items: center;
	width: 600px;
	margin: 0 auto;
	height: 250px;
	text-align: center;
	margin-top: 250px;
	background-image: url(airbaloon.jpg); ;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	font-family: Garamond, 'Times New Roman';
	font-size: 20px;
	font-weight: bold;
}
#registrationbutton{
	margin-top: 30px;
	border-radius: 25px;
	height: 30px;
	width: 120px;
	font-size: 18px
}
.form{
	height: -webkit-fill-available;
	padding-top: 30px;
	background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.5));
}
.link{
	font-weight: bold;
	color: black;
	font-size: 24px;

}